<!-- routing -->

<!-- hard coded version

<a [routerLink]="'/home'">Home</a>
<a [routerLink]="'/data-binding'">Data binding</a>
<a [routerLink]="'/event-binding'">Event binding</a>
<a [routerLink]="'/built-in-directives'">Built in directives</a>
<a [routerLink]="'/pipes'">Pipes</a>
<a [routerLink]="'/notifications'">Notifications</a> 
-->

<!-- easy refactor version -->
<mat-toolbar>
  <mat-toolbar-row>
    <span class="app-title">ng-group 10</span>
    <nav>
      <ul>
        <li>
          <button mat-raised-button [routerLink]="['/', appRoutesNames.HOME]">Home</button>
        </li>
        <li>
          <button mat-raised-button [routerLink]="['/', appRoutesNames.DATA_BINDING]">Data binding</button>
        </li>
        <li>
          <button mat-raised-button [routerLink]="['/', appRoutesNames.EVENT_BINDING]">Event binding</button>
        </li>
        <li>
          <button mat-raised-button [routerLink]="['/', appRoutesNames.BUILT_IN_DIRECTIVES]">Built in
            directives</button>
        </li>
        <li>
          <button mat-raised-button [routerLink]="['/', appRoutesNames.PIPES]">Pipes</button>
        </li>
        <li>
          <button mat-raised-button [routerLink]="['/', appRoutesNames.TEMPLATE_DRIVEN_FORMS]">Template driven
            forms</button>
        </li>
        <li>
          <button mat-raised-button [routerLink]="['/', appRoutesNames.MODEL_DRIVEN_FORMS]">Model driven forms</button>
        </li>
        <li>
          <button mat-raised-button [routerLink]="['/', appRoutesNames.COMPONENT_COMMUNICATION]">Component communication</button>
        </li>
        <li>
          <button mat-raised-button [routerLink]="['/', appRoutesNames.NOTIFICATIONS]">Notifications</button>
        </li>
      </ul>
    </nav>
  </mat-toolbar-row>
</mat-toolbar>

<article>
  <div>
    <router-outlet></router-outlet>
  </div>
</article>
